.cta-row {
  margin: 0;
  display: flex;
  gap: 0.9rem;
  justify-content: center;
  flex-wrap: wrap
}

.cta {
  display: inline-block;
  padding: 0.75rem 1.35rem;
  border-radius: 12px;
  background: var(--electric-blue);
  color: var(--charcoal);
  font-weight: 900
}

.cta:hover {
  background: white;
}

.no-background {
  background: var(--charcoal);
}

.last {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

}

h1 {
  text-align: center;
  padding-bottom: 1rem;

}

h2 {
  padding-top: 1rem;
}

p {
  margin: 0.5rem;
}

pre {
  display: block;
  font-family: monospace;
  white-space-collapse: preserve;
  text-wrap-mode: nowrap;
  margin-block-start: 1em;
  margin-inline-start: 0px;
}

.diagram {
  padding-left: 2rem;
}

ul {
  padding-left: 3rem;
}

.case-section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  max-width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  background: var(--charcoal-light);
}

@media (max-width: 980px) {
  .case-section {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

  }

  .no-background {
    background: var(--charcoal-light);
  }
}